@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  color: var(--foreground);
  background: var(--background);
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


label {
  color: #151515;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 21px; /* 131.25% */
display: block
}

input {
  border-radius: 2px;
border: 1px solid var(--ccbuild-se-mercury, #E4E2E2);
background: var(--ccbuild-se-alabaster, #F9F9F9);
}